.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /* margin-top: 1rem; */
}

.modalContent h1 {
  text-align: center;
  margin-top: 1rem;
}

.deleteActions {
  display: flex;
  /* margin-top: 1rem; */
  padding: 1rem;
  justify-content: center;
}

.confirmButton,
.cancelButton {
  width: 150px;
  margin-right: 1rem;
}
